<main class="osb-pocket-poke-holder">
    <header class="container">
        <h1><i class="poke-icon poke-icon-pokeball"></i> PocketPoké</h1>
    </header>
    <section class="pokeDex">
        <ul class="pokeList list-unstyled">
            <li ng-repeat="poke in pokemon">
                <div id="sprite-{{poke.name}}" class="img-holder text-center">
                    <div class="typeHolder">
                        <div ng-repeat="type in poke.types" class="typeIcon type-{{type.type.name}}" title="Type: {{type.type.name}}">
                            <i class="poke-icon poke-icon-{{type.type.name}}"></i>
                        </div>
                    </div>
                    <div class="spriteBg"></div>
                </div>
                <h2>{{ poke.name }} <span class="pull-right"><i class="poke-icon poke-icon-pokeball-open"></i></span></h2>
                <p><strong>Height:</strong> {{ poke.height }} | <strong>Weight:</strong> {{ poke.weight }} | <strong>Base XP:</strong> {{ poke.base_experience }}</p>
                <h4 ng-click="poke.statsVisible = !poke.statsVisible" class="details">Attributes <i class="fa pull-right" ng-class="{'fa-chevron-down' : !poke.statsVisible, 'fa-chevron-up' : poke.statsVisible}"></i></h4>
                <ul class="list-unstyled details-list" [hidden]="!poke.statsVisible">
                    <li ng-repeat="stats in poke.stats">
                        <p><strong>{{stats.stat.name}}</strong> <span class="pull-right">{{stats.base_stat}}</span></p>
                    </li>
                </ul>
                <h4 ng-click="poke.abilitiesVisible = !poke.abilitiesVisible" class="details">Abilities <i class="fa pull-right" ng-class="{'fa-chevron-down' : !poke.abilitiesVisible, 'fa-chevron-up' : poke.abilitiesVisible}"></i></h4>
                <ul class="list-unstyled details-list" [hidden]="!poke.abilitiesVisible">
                    <li ng-repeat="ability in poke.abilities">
                        <p>{{ability.ability.name}}</p>
                    </li>
                </ul>
                <h4 ng-click="poke.movesVisible = !poke.movesVisible" class="details">Moves <i class="fa pull-right" ng-class="{'fa-chevron-down' : !poke.movesVisible, 'fa-chevron-up' : poke.movesVisible}"></i></h4>
                <ul class="list-unstyled details-list moves" [hidden]="!poke.movesVisible">
                    <li ng-repeat="move in poke.moves">
                        <p>{{move.move.name}} <i class="fa fa-star"></i></p>
                    </li>
                </ul>
            </li>
            <li>
                <div id="loading-trigger" class="img-holder text-center">
                    <div class="spriteBg"></div>
                </div>
                <h2>Loading...</h2>
            </li>
        </ul>
    </section>
</main>